<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cr6588.dao.UserDao">


   <!--     User start -->
    <resultMap id="userMap" type="user" >
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
    </resultMap>
    <sql id="userColumnList">
        `id`, `username`, `password`
    </sql>
    <insert id="saveUser" parameterType="user" keyProperty="id">
        insert into `user` (
            <include refid="userColumnList"/>
        ) values (
            #{id}, #{username}, #{password}
        )
    </insert>
<!--     <update id="updateUser" parameterType="user" > -->
<!--         update `user` -->
<!--         set `username` = #{username} -->
<!--         where id = #{id} -->
<!--     </update> -->
<!--     <delete id="deleteUser" parameterType="map"> -->
<!--         delete from `user` -->
<!--         where id = #{id} -->
<!--     </delete> -->
    <sql id="userSelectCondition">
        <where>
            <if test="id != null"> and `id` = #{id}</if>
            <if test="username != null"> and `username` = #{username}</if>
            <if test="password != null"> and `password` = #{password}</if>
        </where>
    </sql>
<!--     <select id="getUser" parameterType="map" resultMap="userMap"> -->
<!--         select -->
<!--             <include refid="userColumnList" /> -->
<!--         from `user` -->
<!--         <include refid="userSelectCondition" /> -->
<!--     </select> -->
    <select id="getUserList" parameterType="user" resultMap="userMap">
        select
            <include refid="userColumnList" />
        from `user`
        <include refid="userSelectCondition" />
    </select>
    <!--     User end -->
</mapper>